body{
  background-color: #2c2c2c;
   color: #c78c06;
}
.tot{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr;
   gap: 30px;
   font-family: "Press Start 2P", system-ui;
   font-weight: 400;
  }
.box1{
    text-align: center;
    margin: 30px;
    }
.box2{
    display: flex;
    gap: 80px;
    justify-content: center;
}
h2{
    color: grey;
}
h3{
    color: rgb(66, 66, 190);
    text-align: center;
}
.die{
    height: 200px;
    width: 200px;
    border-radius: 5%;
    background-color: rgb(160, 3, 3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4px;
    grid-auto-rows: 0px;
    justify-items: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: beige;
}
/* FIVE
.circle.c{
    grid-column: span 2;
}
.circle.f{
    visibility: hidden;
}*/
/*FOUR
.circle.c{
    visibility: hidden;
}
.circle.d{
    visibility: hidden;
}*/
/*THREE
.circle.a{
    visibility: hidden;
}
.circle.e{
    visibility: hidden;
}
.circle.c{
   grid-column: span 2;
}
.circle.f{
    visibility: hidden;
}*/
/*TWO
.circle
{
    visibility: hidden;
}
.circle.b{
visibility: visible;
}
.circle.e{
    visibility: visible;
}*/
/* ONE
.circle{
    visibility: hidden;
}
.circle.c{
    visibility: visible;
    grid-column: span 2;
}*/

